## Based on template from <https://github.com/github/gitignore/blob/main/Python.gitignore>

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment files
.venv

# Temporary folders
tmp
